.HeaderContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}

.logo {
  width: 10rem;
}
.logout {
  font-size: 2rem;
}
